.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.navbar-form {
	-webkit-flex-basis: 100%;
	-moz-flex-basis: 100%;
	-ms-flex-basis: 100%;
	-o-flex-basis: 100%;
	flex-basis: -moz-available;
	flex-basis: 100%;	
}
.input-group-search {
	width: 100% !important;
}

@media(min-width:576px) {
	.navbar-expand-sm .input-group-search {
		width: 100% !important; 
	}
}

@media(min-width:768px) {
	.navbar-expand-md .input-group-search {
		width: 90% !important; 
	}
}

@media(min-width:992px) {
	.navbar-expand-lg .input-group-search {
		width: 75% !important; 
	}
	}

	@media(min-width:1200px) {
		.navbar-expand-xl .input-group-search {
			width: 70% !important; 
		}
	}

	.has-search .custom-select {
    padding-left: 2.375rem;
    border:none;
	}
	.has-search .form-control-feedback {
		position: absolute;
		z-index: 2;
		display: block;
		width: 2.375rem;
		height: 2.375rem;
		line-height: 2.375rem;
		text-align: center;
		pointer-events: none;
		color: #aaa;
	}

	.dropdown-toggle::after{
		display: none !important;
	}

.categoryList{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footerLinks{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footerSection h5{
  font-size: 14px;
}

.footerLinks li{
  font-size: 12px;

}

.footerLinks i{
  font-size: 18px;
}

.sellbtn{
  width:100px;

}

.yellowBorder {
    border-left: 2px solid #ffc107!important;
}